body {
    font-family: Arial;
    margin: 0;
   
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background-color: green;
   
    }

li a {
    display: block;
    padding: 25px;
    color: white;
    float: right;
    border-left: 1px solid white;
}

.active {
    background-color: red;
}

li h1 {
    padding-left: 30px;
    padding-right: 30px;
    color: white;
}

.header {
    padding: 60px;
    text-align: center;
    color: white;
    font-size: 30px;
    background-color: aqua;
}

.container {
    padding: 20px;
    background:blueviolet;
    background-color: blueviolet;
}

